body{
    background-color: black;
}
#Main1{
    display: flex;
    justify-content: center;
}
#aboutMain{
    width: 100%;
    height: 100%;
    position: fixed;
}
.d1{
    color: white;
    font-size: 4vh;
    text-shadow: 10px 10px 10px rgb(36, 36, 251);
    filter: drop-shadow(10px 10px 10px rgb(36, 36, 251));
}