/* body{
    background-color: black;
} */

body{
    margin: 0;
    padding: 0;
}

#kick{
    background-color: black;
    height: 100vh;
    overflow: hidden;
}
.same1{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30vh;
    font-size: 4vw;
    text-shadow: 10px 10px 10px blue;
}
#h11{
    color: white;
    display: flex;
    justify-content: center;
}
#firstButton{
    width: 20vw;
    height: 5vh;
    border-radius: 20px;
    box-shadow:10px 10px 10px blue ;
    /* background-color: blue;
    color: white;
    border: none; */
}
#menu{
    display: flex;
    justify-content: flex-end;
}
.menus{
    color: white;
    list-style-type: none;
    margin-left: 4vw;
    text-shadow: 10px 10px 10px white;
}

@media (max-width:500px){
    .same1{
        font-size: 4vh;
    }
    #firstButton{
        width: 50vw;
        height: 5vh;
        /* background-color: blue;
        color: white;
        border: none; */
    }
}
